h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0px;
}

address {
  font-style: normal;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
}
@media screen and (min-width: 481px) {
  .container {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.prof {
  max-width: 100%;
  padding-top: 30px;
  background-color: var(--item-bg-color);
  padding: 30px 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.about-other {
  margin: 0 auto;
  gap: 30px;
  width: 100%;
}

.is-hidden-two {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  width: 1px;
  position: absolute;
}

:root {
  --font-size-h: 36px;
  --alert-font-size-text: 14px;
  --main-teem-font-size: 16px;
  --main-team-font-size-big: 18px;
  --transform-hover: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transform-hover-shadov: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__logo {
  font-family: var(--other-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 30.52px;
  color: var(--color-all-text);
  letter-spacing: 0.03em;
  margin-right: 19px;
  transition: var(--transform-hover);
}
.nav__logo:focus {
  color: var(--focus-color);
}
@media screen and (max-width: 480px) {
  .nav__logo {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 1px;
    position: absolute;
  }
}
@media screen and (min-width: 481px) {
  .nav__logo {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 1px;
    position: absolute;
  }
}
@media screen and (min-width: 1200px) {
  .nav__logo {
    opacity: inherit;
    visibility: inherit;
    pointer-events: inherit;
    width: inherit;
    position: inherit;
  }
}

.nav__logo span {
  color: var(--focus-color);
}

.nav-logo-mob {
  font-family: var(--other-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 30.52px;
  color: var(--color-all-text);
  letter-spacing: 0.03em;
  margin-right: 19px;
  transition: var(--transform-hover);
}
.nav-logo-mob:focus {
  color: var(--focus-color);
}
@media screen and (min-width: 1200px) {
  .nav-logo-mob {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 1px;
    position: absolute;
  }
}

.nav-logo-mob span {
  color: var(--focus-color);
}
@media screen and (min-width: 1200px) {
  .nav-logo-mob span {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 1px;
    position: absolute;
  }
}

.logo__footer {
  display: block;
  font-family: var(--other-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 30.52px;
  color: var(--item-bg-color);
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  transition: var(--transform-hover);
}
.logo__footer:focus {
  color: var(--focus-color);
}
@media screen and (max-width: 480px) {
  .logo__footer {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .address-wrap {
    width: 100%;
    justify-content: center;
  }
}

.logo__footer span {
  color: var(--focus-color);
}

.nav__studio {
  display: inline-block;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--color-text);
  padding: 32px 0px;
  display: block;
  transition: var(--transform-hover);
}
.nav__studio:hover, .nav__studio:focus {
  color: var(--focus-color);
}

.active {
  color: var(--focus-color);
}

.mail-list {
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: flex;
  width: 100%;
  height: 4px;
  background-color: var(--focus-color);
  border-radius: 2px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 50px;
}
@media screen and (max-width: 480px) {
  .nav {
    display: none;
  }
}
@media screen and (min-width: 481px) {
  .nav {
    display: inherit;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    display: inherit;
  }
}

@media screen and (max-width: 480px) {
  .nav-display {
    display: none;
  }
}
@media screen and (min-width: 481px) {
  .nav-display {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .nav-display {
    display: flex;
  }
}

.item-btn-flax {
  display: flex;
  gap: 8px;
  justify-content: center;
  padding-bottom: 50px;
}

.not-nav-item-flax {
  display: flex;
  align-items: center;
  gap: 50px;
}
@media screen and (max-width: 480px) {
  .not-nav-item-flax {
    display: none;
  }
}
@media screen and (min-width: 481px) {
  .not-nav-item-flax {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .not-nav-item-flax {
    display: flex;
  }
}

.figure-bg__ico {
  max-width: 70px;
  height: 70px;
  fill: currentColor;
}

.figure-bg {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
  width: 100%;
  background-color: #F5F4FA;
  transition: var(--transform-hover-shadov);
}
.figure-bg:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 480px) {
  .figure-bg {
    min-width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 481) and (min-width: 481px) {
  .figure-bg {
    min-width: 354px;
  }
}
.figure-interval {
  margin-right: 30px;
}
@media screen and (max-width: 480px) {
  .figure-interval {
    margin: 0;
  }
}
@media screen and (min-width: 481px) {
  .figure-interval {
    margin: 0;
    max-width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .figure-interval {
    width: 100%;
  }
}

.figure-bg:last-child {
  margin-right: 0;
}

.figure-list {
  display: flex;
}
@media screen and (max-width: 480px) {
  .figure-list {
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 481px) {
  .figure-list {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .figure-list {
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 480px) {
  .figure-justify {
    display: flex;
    justify-content: center;
  }
}
.pic {
  width: 100%;
}

body {
  font-family: var(--main-font);
  font-size: var(--alert-font-size-text);
  letter-spacing: 0.03em;
  background-color: var(--item-bg-color);
  color: var(--alert-text);
  font-family: var(--main-font);
}

.hero {
  align-items: center;
  margin: 0 auto;
  padding: 200px 0;
  background-color: var(--footer-bg-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .hero {
    width: 100%;
    padding: 118px 0;
  }
}
@media screen and (min-width: 481px) and (min-width: 481px) {
  .hero {
    width: 100%;
    padding: 118px 0;
  }
}
.hero__title {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  max-width: 650px;
  margin: 0 auto;
  margin-bottom: 30px;
  color: var(--item-bg-color);
}
@media screen and (max-width: 480px) {
  .hero__title {
    max-width: 360px;
    font-size: 26px;
    line-height: 1.6153846154;
  }
}
@media screen and (min-width: 481px) {
  .hero__title {
    width: 360px;
    font-size: 26px;
    line-height: 1.6153846154;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.3636363636;
  }
}

.sec-padding {
  padding: 94px 0px;
  background-color: #F5F4FA;
}

.hero__btn {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border: none;
  cursor: pointer;
  color: var(--item-bg-color);
  background-color: #2196f3;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px 32px;
  transition: var(--transform-hover);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.list {
  display: flex;
}

.vis {
  width: 1px;
  height: 1px;
  margin: -1px;
  position: absolute;
  visibility: hidden;
}

.alert {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: var(--alert-font-size-text);
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--alert-text);
}
@media screen and (max-width: 480px) {
  .alert {
    width: 270px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }
}

.figure-interval__text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: var(--alert-font-size-text);
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--color-text);
}
@media screen and (max-width: 480px) {
  .figure-interval__text {
    width: 100%;
  }
}

.about {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: var(--font-size-h);
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
  color: var(--alert-text);
}
@media screen and (max-width: 480px) {
  .about {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    text-align: center;
  }
}
@media screen and (min-width: 481px) {
  .about {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: var(--font-size-h);
    line-height: 1.1666666667;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    text-align: center;
    color: var(--alert-text);
  }
}

@media screen and (max-width: 480px) {
  .vis-about {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 1px;
    position: absolute;
  }
}
@media screen and (min-width: 481px) {
  .vis-about {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 1px;
    position: absolute;
  }
}
@media screen and (min-width: 1200px) {
  .vis-about {
    opacity: 1;
    visibility: visible;
    pointer-events: inherit;
    width: 100%;
    position: relative;
  }
}

.section-team {
  padding: 94px 94px;
  background-color: #F5F4FA;
}
@media screen and (max-width: 480px) {
  .section-team {
    width: 100%;
  }
}
@media screen and (min-width: 481px) {
  .section-team {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .section-team {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .section-team:first-child {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 1px;
    position: absolute;
  }
}

.section-team-padding {
  padding-bottom: 94px;
}
@media screen and (max-width: 480px) {
  .section-team-padding {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 1px;
    position: absolute;
  }
}
@media screen and (min-width: 481px) {
  .section-team-padding {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 1px;
    position: absolute;
  }
}
@media screen and (min-width: 1200px) {
  .section-team-padding {
    opacity: 1;
    visibility: visible;
    pointer-events: inherit;
    width: 100%;
    position: inherit;
  }
}

.team {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .team:first-child {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 1px;
    position: absolute;
  }
}
@media screen and (min-width: 481px) {
  .team:first-child {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 1px;
    position: absolute;
  }
}
@media screen and (min-width: 1200px) {
  .team:first-child {
    opacity: 1;
    visibility: visible;
    pointer-events: none;
    width: 100%;
    position: inherit;
    gap: 30px;
  }
}

@media screen and (max-width: 480px) {
  .team:last-child {
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 481px) {
  .team:last-child {
    max-width: 100%;
    justify-content: center;
  }
}
.team-hover {
  transition: var(--transform-hover-shadov);
}
.team-hover:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 481px) {
  .team-hover {
    width: calc((100% - 30px) / 2);
    gap: 30px;
  }
}
.calc-team {
  width: 100%;
  width: calc((100% - 60px) / 2);
}
@media screen and (min-width: 481px) {
  .calc-team {
    width: calc((100% - 30px) / 4);
  }
}
@media screen and (min-width: 1200px) {
  .calc-team {
    width: 100%;
  }
}

.team__name {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: var(--main-teem-font-size);
  line-height: 1;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--alert-text);
}

.team__work {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: var(--alert-font-size-text);
  line-height: 1;
  letter-spacing: 0.03em;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 16px;
  color: var(--color-text);
}

.team-name__one {
  display: flex;
  position: absolute;
  width: 370px;
  height: 70px;
  top: 224px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  color: var(--item-bg-color);
  background: rgba(47, 48, 58, 0.8);
}

.team-name__two {
  display: flex;
  position: absolute;
  width: 370px;
  height: 70px;
  top: 224px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  color: var(--item-bg-color);
  background: rgba(47, 48, 58, 0.8);
}

.relative {
  position: relative;
}

.photo {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
}

.photo__name {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: var(--main-team-font-size-big);
  line-height: 2;
  margin: 0 0 4px;
  letter-spacing: 0.06em;
  color: var(--alert-text);
}

.photo__two-text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: var(--main-teem-font-size);
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--color-text);
}

.portfolio-list {
  display: block;
  background: #FFFFFF;
  box-sizing: border-box;
  transition: var(--transform-hover-shadov);
}
.portfolio-list:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-list:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-list:hover .portfolio-wrap__text {
  transform: translateY(0);
}

.portfolio-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-wrap__text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  text-align: left;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: var(--transform-hover-shadov);
  overflow: auto;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: var(--item-bg-color);
}

.portfolio-list-items {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: var(--main-teem-font-size);
  line-height: 1.625;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border: none;
  color: var(--alert-text);
  background-color: #F5F4FA;
  border-radius: 4px;
  cursor: pointer;
  transition: var(--transform-hover), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn:hover {
  background-color: var(--focus-color);
  color: var(--item-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.nav-address {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--item-bg-color);
  transition: var(--transform-hover);
}
.nav-address:hover, .nav-address:focus {
  color: var(--focus-color);
}

.mail-address {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: var(--transform-hover);
}
.mail-address:hover, .mail-address:focus {
  color: var(--focus-color);
}

.footer-ul-margin {
  margin: 9px 0px 9px 0px;
}

.address-contacts {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: var(--transform-hover);
}
.address-contacts:hover, .address-contacts:focus {
  color: var(--focus-color);
}

@media screen and (max-width: 480px) {
  .address-center {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}

.contant-wrap {
  display: flex;
  align-items: baseline;
}
@media screen and (max-width: 480px) {
  .contant-wrap {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 481px) {
  .contant-wrap {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .contant-wrap {
    flex-wrap: nowrap;
  }
}

.footer__h3 {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: var(--alert-font-size-text);
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--item-bg-color);
}
@media screen and (max-width: 480px) {
  .footer__h3 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 481px) {
  .footer__h3 {
    margin: 0 auto;
    text-align: center;
  }
}
.footer-input-icon {
  max-width: 24px;
  height: 24px;
}
@media screen and (max-width: 480px) {
  .footer-input-icon {
    margin-left: 12px;
  }
}
@media screen and (min-width: 481px) {
  .footer-input-icon {
    margin-left: 12px;
  }
}
.footer-bg {
  background-color: var(--footer-bg-color);
  padding: 60px 0;
}
@media screen and (max-width: 480px) {
  .footer-bg {
    width: 100%;
  }
}

.nav-address {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--item-bg-color);
  transition: var(--transform-hover);
}
.nav-address:hover, .nav-address:focus {
  color: var(--focus-color);
}

.footer-ul-margin {
  margin: 9px 0px 9px 0px;
}

.address-contacts {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7142857143;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: var(--transform-hover);
}
.address-contacts:hover, .address-contacts:focus {
  color: var(--focus-color);
}

.footer-title {
  display: flex;
  line-height: 16px;
  font-style: normal;
  font-weight: 700;
  font: var(--main-font);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-size: var(--alert-font-size-text);
  color: var(--item-bg-color);
}
@media screen and (max-width: 480px) {
  .footer-title {
    display: flex;
    margin-top: 60px;
    justify-content: center;
  }
}
@media screen and (min-width: 481px) {
  .footer-title {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
}
.footer__h3 {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: var(--alert-font-size-text);
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--item-bg-color);
}
@media screen and (min-width: 1200px) {
  .footer__h3 {
    display: flex;
    justify-content: flex-start;
  }
}

.footer__input {
  padding: 15px 0px 15px 16px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  color: var(--item-bg-color);
  background: var(--footer-bg-color);
}
.footer__input::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: var(--main-team-font-size);
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: var(--main-team-font-size);
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: var(--main-team-font-size);
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 480px) {
  .footer__input {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
@media screen and (min-width: 481px) {
  .footer__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
  }
}

.footer__input-btn {
  position: relative;
  outline: none;
  display: block;
  width: 200px;
  height: 50px;
  font-family: var(--main-font);
  gap: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: var(--main-team-font-size);
  line-height: 1.875;
  padding: 10px 28px;
  margin-left: 40px;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--item-bg-color);
  background: var(--focus-color);
  transition: var(--transform-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.footer__input-btn:focus {
  background-color: var(--focus-color);
}
.footer__input-btn:hover {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 480px) {
  .footer__input-btn {
    position: relative;
    display: flex;
    position: relative;
    justify-content: center;
  }
}
@media screen and (min-width: 481px) {
  .footer__input-btn {
    display: flex;
    position: relative;
    justify-content: center;
    margin: 0 auto;
    top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__input-btn {
    position: relative;
    display: flex;
    justify-content: center;
    top: 0;
  }
}

.section-btn {
  padding: 94px 0;
}

.section {
  padding: 94px 0;
}
@media screen and (max-width: 480px) {
  .section {
    width: 100%;
    padding: 60px 0;
  }
}
@media screen and (min-width: 481px) {
  .section {
    max-width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    width: 100%;
  }
}

.section-icon {
  padding: 94px 0px 94px 0;
}

.mail__studio {
  display: inline-block;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--color-text);
  padding: 32px 0px;
  display: block;
  transition: var(--transform-hover);
}
.mail__studio:hover, .mail__studio:focus {
  color: var(--focus-color);
}
@media screen and (max-width: 480px) {
  .mail__studio {
    display: none;
  }
}
@media screen and (min-width: 481px) {
  .mail__studio {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .mail__studio {
    display: inline-block;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    color: var(--color-text);
    padding: 32px 0px;
    display: block;
    transition: var(--transform-hover);
  }
  .mail__studio:hover, .mail__studio:focus {
    color: var(--focus-color);
  }
}

.cont-color {
  color: var(--alert-text);
}

.mail-ico {
  margin-right: 10px;
  fill: currentColor;
  width: 10px;
  height: 16px;
  vertical-align: middle;
}
@media screen and (max-width: 480px) {
  .mail-ico {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 1px;
    position: absolute;
  }
}
@media screen and (min-width: 481px) {
  .mail-ico {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 1px;
    position: absolute;
  }
}
@media screen and (min-width: 1200px) {
  .mail-ico {
    margin-right: 10px;
    fill: currentColor;
    width: 10px;
    height: 16px;
    vertical-align: middle;
    opacity: inherit;
    pointer-events: all;
    position: inherit;
    visibility: inherit;
  }
}

.mail-nav {
  margin-right: 10px;
  fill: currentColor;
  width: 16px;
  height: 12px;
  vertical-align: middle;
}
@media screen and (max-width: 480px) {
  .mail-nav {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 1px;
    position: absolute;
  }
}
@media screen and (min-width: 481px) {
  .mail-nav {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 1px;
    position: absolute;
  }
}
@media screen and (min-width: 1200px) {
  .mail-nav {
    margin-right: 10px;
    fill: currentColor;
    width: 16px;
    height: 12px;
    vertical-align: middle;
    opacity: inherit;
    pointer-events: all;
    position: inherit;
    visibility: inherit;
  }
}

.contant-nav {
  display: flex;
  justify-content: space-between;
}

.footer {
  position: relative;
  margin-left: auto;
}
@media screen and (max-width: 480px) {
  .footer {
    width: 100%;
  }
}
@media screen and (min-width: 481px) {
  .footer {
    position: relative;
    margin: 0 auto;
    display: block;
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    margin-left: 105px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-flax {
    display: flex;
  }
}

.team {
  display: flex;
  justify-content: center;
  gap: 10px;
}

@media screen and (max-width: 480px) {
  .team-one {
    gap: 30px;
    max-width: 100%;
  }
}
@media screen and (min-width: 481px) {
  .team-one {
    gap: 30px;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .team-one {
    flex-wrap: nowrap;
  }
}

.logo {
  width: 100%;
}
@media screen and (min-width: 481px) {
  .logo {
    width: calc((100% - 30px) / 2);
    text-align: center;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    width: calc((100% - 30px) / 3);
  }
}

.team-item-footer-bg__item {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: var(--transform-hover);
}
.team-item-footer-bg__item:hover, .team-item-footer-bg__item:focus {
  background-color: var(--focus-color);
}
.team-item-footer-bg__item:hover > .soc-item, .team-item-footer-bg__item:focus > .soc-item {
  fill: var(--item-bg-color);
}

.team__item {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: var(--transform-hover);
}
.team__item:hover, .team__item:focus {
  background-color: var(--focus-color);
}
.team__item:hover > .soc-item, .team__item:focus > .soc-item {
  fill: var(--item-bg-color);
}

.team-item-footer-bg-new {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: var(--transform-hover);
}
.team-item-footer-bg-new:hover, .team-item-footer-bg-new:focus {
  background-color: var(--focus-color);
}
.team-item-footer-bg-new:hover > .soc-item, .team-item-footer-bg-new:focus > .soc-item {
  fill: var(--item-bg-color);
}

.soc-item {
  display: flex;
  fill: #AFB1B8;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.team-item-footer {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}
@media screen and (max-width: 480px) {
  .team-item-footer {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 60px;
  }
}

.footer-icon {
  margin-left: 70px;
}
@media screen and (max-width: 480px) {
  .footer-icon {
    width: 100%;
    margin: 0;
  }
}
@media screen and (min-width: 481px) {
  .footer-icon {
    margin-right: auto;
  }
}
.team-item-footer-bg {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
}

.soc-item-footer {
  display: flex;
  fill: #ffffff;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.icon-main {
  display: flex;
  box-sizing: border-box;
  fill: #AFB1B8;
  max-width: 106px;
  height: 60px;
  vertical-align: middle;
  transition: var(--transform-hover);
}

.per-team {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 60px 0 60px 0;
}

.pre-ul {
  display: flex;
  justify-content: center;
  gap: 30px;
}
@media screen and (max-width: 480px) {
  .pre-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 481px) {
  .pre-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .pre-ul {
    flex-wrap: nowrap;
  }
}

.list-one {
  display: flex;
  height: 92px;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}
.list-one:hover > .icon-main {
  fill: var(--focus-color);
  border-color: var(--focus-color);
}
.list-one:hover, .list-one:focus {
  border-color: var(--focus-color);
}
.list-one:focus > .icon-main {
  fill: var(--focus-color);
  border-color: var(--focus-color);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms linear, visibility 300ms linear;
}

.modal {
  width: 528px;
  background-color: var(--item-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 39px 40px 41px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms linear;
}
@media screen and (max-width: 480px) {
  .modal {
    width: 100%;
  }
}
@media screen and (min-width: 481px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-btn {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: var(--transform-hover);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover {
  fill: var(--focus-color);
  border-color: var(--focus-color);
}

.modal-btn-ico {
  transition: var(--transform-hover);
}

.modal-h3 {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  max-width: 448px;
  color: var(--color-all-text);
  margin-bottom: 12px;
}

.form-action {
  padding: 40px;
}

.input-label {
  position: relative;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--color-text);
}

.input-name {
  outline: 0;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 12px 42px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-name:hover {
  border-color: var(--focus-color);
}
.input-name:hover + .input-icon {
  fill: var(--focus-color);
  border-color: var(--focus-color);
}

.trans {
  transition: var(--transform-hover-shadov);
}

.input {
  margin-bottom: 4px;
}

.input-comment {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  margin-top: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.input-comment:hover {
  border-color: var(--focus-color);
}

.input-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 30px;
  left: 12px;
}

.chec {
  position: relative;
  align-items: baseline;
  margin-left: 12px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 2px;
  background-color: var(--alert-text);
}

.chec:checked + .policy-flax__text span {
  background-color: var(--focus-color);
  border: none;
}

.chec:checked + .policy-flax__text span {
  border-color: var(--color-all-text);
}

.chec-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border-radius: 4px;
  border: 2px solid var(--color-all-text);
  transition: var(--transform-hover);
}

.policy-flax__text {
  display: flex;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: var(--alert-font-size-text);
  line-height: 1.7142857143;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--color-text);
}
@media screen and (max-width: 480px) {
  .policy-flax__text {
    font-size: 12px;
    line-height: 1.1666666667;
  }
}
@media screen and (min-width: 481px) {
  .policy-flax__text {
    font-size: 12px;
    line-height: 1.1666666667;
  }
}
@media screen and (min-width: 1200px) {
  .policy-flax__text {
    font-size: var(--alert-font-size-text);
    line-height: 1.7142857143;
  }
}

.modal-icon {
  position: relative;
  margin: 0 auto;
  display: block;
}

.policy-link {
  border-bottom: 1px solid var(--focus-color);
  color: var(--focus-color);
  margin-left: 5px;
  line-height: 11px;
}

.policy-flax {
  display: flex;
  margin-bottom: 30px;
}

.policy-btn {
  display: block;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: var(--main-team-font-size);
  line-height: 1.875;
  padding: 10px 55px;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--item-bg-color);
  background: var(--focus-color);
  transition: var(--transform-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.policy-btn:hover, .policy-btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.input-icon-one {
  width: 11px;
  height: 8px;
}

:root {
  --color-all-text: #000000;
  --alert-text: #212121;
  --color-text: #757575;
  --footer-bg-color: #2f303a;
  --focus-color: #2196f3;
  --item-bg-color: #ffffff;
  --main-font: "Roboto", sans-serif;
  --other-font: "Raleway", sans-serif;
}

.container-mob-menu {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 48px 0px 48px 40px;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  transition: opacity 300ms linear, visibility 300ms linear;
}
.container-mob-menu > .menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.menu-toggle {
  margin-left: auto;
  display: block;
  background-color: transparent;
  border: none;
}

.mail-studio-mob {
  display: inline-block;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
  display: block;
  transition: var(--transform-hover);
}
.mail-studio-mob:hover, .mail-studio-mob:focus {
  color: var(--focus-color);
}

@media screen and (min-width: 1200px) {
  .menu-btn {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 1px;
    position: absolute;
  }
}

.container-menu-btn {
  display: flex;
  height: 60px;
}
@media screen and (min-width: 1200px) {
  .container-menu-btn {
    display: none;
  }
}

.mail-margin {
  margin-bottom: 32px;
}

.mail-margin-two {
  margin-bottom: 35px;
}

.mail-margin-tree {
  margin-bottom: 206px;
}

.mail-margin-fot-soc {
  margin-bottom: 64px;
}

.menu-btn-mr {
  margin-right: 15px;
}

.logo-mob-menu {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.mob-soc {
  display: flex;
  width: 100%;
}

.mob-soc__item {
  display: block;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--focus-color);
  padding-right: 10px;
}

.mob-soc-marg {
  margin-left: 10px;
}

.border-soc {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.border-soc:last-child {
  border: none;
}

.border-soc:first-child {
  margin-left: 0px;
}

.lisk-studio-mob {
  display: inline-block;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  color: var(--color-text);
  display: block;
  transition: var(--transform-hover);
}
.lisk-studio-mob:hover, .lisk-studio-mob:focus {
  color: var(--focus-color);
}

.focus-mob {
  color: var(--focus-color);
}/*# sourceMappingURL=main.css.map */