body {
    font-family: var(--main-font);
    font-size: var(--alert-font-size-text);
    letter-spacing: 0.03em;
    background-color: var(--item-bg-color);
    color: var(--alert-text);
    font-family: var(--main-font);
}