.nav-address {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: calc(21 / 14);
    font-style: normal;

    letter-spacing: 0.03em;

    color: var(--item-bg-color);
    transition: var(--transform-hover);
    &:hover,
    &:focus {
            color: var(--focus-color);
        }
}

.mail-address {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: calc(24 / 14);

    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: var(--transform-hover);
    &:hover,
    &:focus {
            color: var(--focus-color);
        }
}

.footer-ul-margin {
    margin: 9px 0px 9px 0px;
}

.address-contacts {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: calc(24 / 14);

    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
    transition: var(--transform-hover);
    &:hover,
    &:focus {
            color: var(--focus-color);
        }
}

.address-center {
    @media screen and (max-width:480px) {
        display: flex;
        width: 100%;
        justify-content: center;
    }
}

.contant-wrap {
    display: flex;
    align-items: baseline;
    @media screen and (max-width:480px) {
        flex-wrap: wrap;
    }
    @media screen and (min-width:481px) {
        flex-wrap: wrap;
        justify-content: center;
    }
    @media screen and (min-width:1200px) {
    }
}

.footer__h3 {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: var(--alert-font-size-text);
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 20px;

    color: var(--item-bg-color);
    @media screen and (max-width:480px) {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    @media screen and (min-width:481px) {
        margin: 0 auto;
        text-align: center;
    }
    @media screen and (min-width:1200px) {
    }
}

.footer-input-icon {
    max-width: 24px;
    height: 24px;
    @media screen and (max-width:480px) {
        margin-left: 12px;
    }
    @media screen and (min-width:481px) {
        margin-left: 12px;
    }
    @media screen and (min-width:1200px) {
    }
}

.footer-bg {
    background-color: var(--footer-bg-color);
    padding: 60px 0;
    @media screen and (max-width:480px) {
        width: 100%;
    }
}

.nav-address {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: calc(21 / 14);
    font-style: normal;

    letter-spacing: 0.03em;

    color: var(--item-bg-color);
    transition: var(--transform-hover);
    &:hover,
    &:focus {
            color: var(--focus-color);
        }
}

.footer-ul-margin {
    margin: 9px 0px 9px 0px;
}

.address-contacts {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: calc(24 / 14);
    /* or 171% */

    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
    transition: var(--transform-hover);
    &:hover,
    &:focus {
            color: var(--focus-color);
        }
}

.footer-title {
    display: flex;

    line-height: 16px;
    font-style: normal;
    font-weight: 700;
    font: var(--main-font);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-size: var(--alert-font-size-text);

    color: var(--item-bg-color);
    @media screen and (max-width:480px) {
        display: flex;
        margin-top: 60px ;
        justify-content: center;
    }
    @media screen and (min-width:481px) {
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    @media screen and (min-width:1200px) {
    }
}

.footer__h3 {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: var(--alert-font-size-text);
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 20px;

    color: var(--item-bg-color);
}
.footer__input {
    padding: 15px 0px 15px 16px;
    width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;

    color: var(--item-bg-color);
    background: var(--footer-bg-color);

    &::placeholder {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: var(--main-team-font-size);
        line-height: calc(20 / 16);

        display: flex;
        align-items: center;
        letter-spacing: 0.03em;

        color: rgba(255, 255, 255, 0.6);
    }

    @media screen and (max-width:480px) {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    @media screen and (min-width:481px) {
        width: 450px;
    }
    @media screen and (min-width:1200px) {
    }
}
.footer__input-btn {
    position: relative;
    outline: none;
    display: block;
    width: 200px;
    height: 50px;
    font-family: var(--main-font);
    gap: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: var(--main-team-font-size);
    line-height: calc(30 / 16);

    padding: 10px 28px;
    margin-left: 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.06em;

    color: var(--item-bg-color);
    background: var(--focus-color);
    transition: var(--transform-hover);


    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    &:focus {
            background-color: var(--focus-color);
        }
    &:hover {
            background-color: #188ce8;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
    @media screen and (max-width:480px) {
        position: relative;
        display: flex;
        position: relative;
        justify-content: center;
    }
    @media screen and (min-width:481px) {
        display: flex;
        margin: 0 auto;
        top: 20px;
    }
    @media screen and (min-width:1200px) {
    }
}

.section-btn {
    padding: 94px 0;
}

.section {
    padding: 94px 0;
    @media screen and (max-width: 480px) {
        width: 100%;
        padding: 60px 0;
    }
    @media screen and (min-width: 481px) {
        max-width: 100%;
    }
    @media screen and (min-width:1200px) {
        width: 100%;
    }
}

.section-icon {
    padding: 94px 0px 94px 0;
}

.mail__studio {
    display: inline-block;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--color-text);
    padding: 32px 0px;
    display: block;
    transition: var(--transform-hover);
    
    &:hover,
    &:focus {
        color: var(--focus-color);
    
    }
}

.team-name {

}

.cont-color {
    color: var(--alert-text);
}

.mail__ico {
    margin-right: 10px;
    fill: currentColor;
    width: 10px;
    height: 16px;
    vertical-align: middle;
}

.mail {}
.mail__nav {
    margin-right: 10px;
    fill: currentColor;
    width: 16px;
    height: 12px;

    vertical-align: middle;
}

.footer {
    position: relative;
    margin-left: auto;
    @media screen and (max-width:480px) {
        width: 100%;
    }
    @media screen and (min-width:481px) {
        display: inline-block;
        justify-content: center;
        margin: 0 auto;
        margin-top: 60px;
    }
    @media screen and (min-width:1200px) {
    }
}

.team {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.team-one {
    @media screen and (max-width:480px) {
        gap: 30px;
        max-width: 100%;
    }
    @media screen and (min-width:481px) {
        gap: 30px;
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    @media screen and (min-width:1200px) {
        flex-wrap: nowrap;
    }
}

.logo {
    width: 100%;
    @media screen and (min-width:481px) {
        width: calc((100% - 30px)/2);
    }
    @media screen and (min-width:1200px) {
    }
}

.team-item-footer-bg__item {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: var(--transform-hover);
    &:hover,
    &:focus {
            background-color: var(--focus-color);
        }
    &:hover>.soc-item,
    &:focus>.soc-item {
                    fill: var(--item-bg-color);
                }
}

.team__item {
        display: flex;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        transition: var(--transform-hover);
        &:hover,
        &:focus {
            background-color: var(--focus-color);
        }
        
         &:hover>.soc-item,
        &:focus>.soc-item {
            fill: var(--item-bg-color);
        }
}
.team-item-footer-bg-new {
    display: flex;
    max-width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: var(--transform-hover);
     &:hover,
    &:focus {
        background-color: var(--focus-color);
    }
    &:hover>.soc-item,
    &:focus>.soc-item {
        fill: var(--item-bg-color);
            }
}

.soc-item {
    display: flex;
    fill: #AFB1B8;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.team-item-footer {
    display: flex;
    margin-top: 20px;
    gap: 10px;
    @media screen and (max-width:480px) {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-bottom: 60px;
    }
}

.footer-icon {
    margin-left: 70px;
    @media screen and (max-width:480px) {
        width: 100%;
        margin: 0;
    }
    @media screen and (min-width:481px) {
        margin: 0;
    }
    @media screen and (min-width:1200px) {
    }
}

.team-item-footer-bg {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
}

.soc-item-footer {
    display: flex;
    fill: #ffffff;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.icon-main {
    display: flex;
    box-sizing: border-box;
    fill: #AFB1B8;
    max-width: 106px;
    height: 60px;
    vertical-align: middle;
    transition: var(--transform-hover);
}

.per-team {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 94px 0 94px 0;
    
}

.pre-ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    @media screen and (max-width:480px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    @media screen and (min-width:481px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    @media screen and (min-width:1200px) {
        flex-wrap: nowrap;
    }
}

.list-one {
    display: flex;
    height: 92px;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    text-align: center;

    border: 1px solid #AFB1B8;
    border-radius: 4px;
    &:hover>.icon-main {
            fill: var(--focus-color);
            border-color: var(--focus-color);
    
        }
    &:hover,
    &:focus {
            border-color: var(--focus-color);
        }
    &:focus>.icon-main {
            fill: var(--focus-color);
            border-color: var(--focus-color);
        }
    @media screen and (max-width:480px) {
    }
}