.menu {

}

.container-mob-menu{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 48px 0px 48px 40px;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
}

.menu-toggle {
    margin-left: auto;
    display: block;
    background-color: transparent;
    border: none;
}

.mail__studio-mob {
    display: inline-block;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47 / 40);
    letter-spacing: 0.02em;
    color: #212121;
    padding-bottom: 32px;
    display: block;
    transition: var(--transform-hover);

    &:hover,
    &:focus {
        color: var(--focus-color);

    }
}

.mail-padding {
    padding-bottom: 32px;
}

.mail-padding-two {
    padding-bottom: 35px;
}

.mail-padding-tree {
    padding-bottom: 302px;
}

.lisk-studio-mob {
    display: inline-block;
        font-family: var(--main-font);
        font-weight: 500;
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.02em;
        color: var(--color-text);
        padding: 32px 0px;
        display: block;
        transition: var(--transform-hover);
    
        &:hover,
        &:focus {
            color: var(--focus-color);
    }
}