.menu {

}

.container-mob-menu{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
    transition: opacity 300ms linear, visibility 300ms linear;
    >.menu {
        padding: 48px 0px 48px 40px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: auto;
    }
}

.menu-toggle {
    margin-left: auto;
    display: block;
    background-color: transparent;
    border: none;
}

.mail__studio-mob {
    display: inline-block;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47 / 40);
    letter-spacing: 0.02em;
    color: #212121;

    display: block;
    transition: var(--transform-hover);

    &:hover,
    &:focus {
        color: var(--focus-color);

    }
}

.menu-btn {
    @media screen and (min-width:1200px) {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        width: 1px;
        position: absolute;
    }
}

.container-menu-btn {
    display: flex;
    height: 60px;
    @media screen and (min-width:1200px) {
        display: none;
    }
}

.mail-margin {
    margin-bottom: 32px;
}

.mail-margin-two {
    margin-bottom: 35px;
}

.mail-margin-tree {
    margin-bottom: 206px;
}

.mail-margin-fot-soc {
    margin-bottom: 64px;
}

.menu-btn-mr {
    margin-right: 15px;
}

.logo-mob-menu {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.mob-soc {
    display: flex;
    width: 100%;
}

.mob-soc__item {
    display: block;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18);
    letter-spacing: 0.02em;
    color: var(--focus-color);
    padding-right: 10px;
}

.mob-soc-marg {
    margin-left: 10px;
}

.border-soc {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.border-soc:last-child {
    border: none;
}

.border-soc:first-child {
    margin-left: 0px;
}
.lisk-studio-mob {
    display: inline-block;
        font-family: var(--main-font);
        font-weight: 500;
        font-size: 24px;
        line-height: calc(28 / 24);
        color: var(--color-text);
        display: block;
        transition: var(--transform-hover);
    
        &:hover,
        &:focus {
            color: var(--focus-color);
    }
    
}

.focus-mob {
    color: var(--focus-color);
}